.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #585b70;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #a6adc8;
    margin-bottom: 0.5rem;
  }

  .hint {
    font-size: 0.95rem;
  }
}
